<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>servlet01</servlet-name>
        <servlet-class>ServPaket.servlet01</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet02</servlet-name>
        <servlet-class>ServPaket.servlet02</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletDel</servlet-name>
        <servlet-class>ServPaket.servletDel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProduct</servlet-name>
        <servlet-class>ServPaket.ListProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewProductServlet</servlet-name>
        <servlet-class>ServPaket.NewProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductServlet</servlet-name>
        <servlet-class>ServPaket.EditProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelProductServlet</servlet-name>
        <servlet-class>ServPaket.DelProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyingServlet</servlet-name>
        <servlet-class>ServPaket.BuyingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseServlet</servlet-name>
        <servlet-class>ServPaket.PurchaseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servlet01</servlet-name>
        <url-pattern>/servlet01</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet02</servlet-name>
        <url-pattern>/servlet02</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletDel</servlet-name>
        <url-pattern>/servletDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProduct</servlet-name>
        <url-pattern>/ListProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewProductServlet</servlet-name>
        <url-pattern>/NewProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductServlet</servlet-name>
        <url-pattern>/EditProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelProductServlet</servlet-name>
        <url-pattern>/DelProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyingServlet</servlet-name>
        <url-pattern>/BuyingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseServlet</servlet-name>
        <url-pattern>/PurchaseServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
